* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

#title {
    text-align: center;
}

#wrapper {
    display: flex;
    justify-content: center;    
}

.box_1 {
    height: 100px;
    width: 100px;
    background-color: red;
}

.box_2 {
    height: 100px;
    width: 100px;
    background-color: black;
}